@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <a href="@Url.Action("Down1")">导出多列自定义表头并且有合并列</a>
        <a href="@Url.Action("Down2")">普通导出，并且过滤部分数据</a>

        <a href="@Url.Action("Down3")">单列导出</a>
        <a href="@Url.Action("Down4")">模板导出</a>
    </div>
</body>
</html>
